
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <script type="text/javascript"  src="../js/jquery-3.4.1.min.js"></script>
</head>
<body>
欢迎您，<span id="username"></span>
<a href="/system/logout">退出登陆</a>
<br>
<hr>
<h3>您所拥有的权限为：</h3>
<ol id="msg"></ol>
<hr>
<h3>验证方法权限注解：</h3>
<ol>
    <li><a href="javascript:getCheckPermission('/user/list')">用户列表权限</a></li>
    <li><a href="javascript:getCheckPermission('/menu/list')">菜单列表权限</a></li>
</ol>
<b>验证结果</b>
<div id="checkpermissionresult">

</div>
<br>
<script>
    $(function(){
        getPermission();
    })
    function getPermission(){
        $.get("/system/index",function(res){
            $("#username").text( res.username+"("+res.nickName+")")
            var authorities = res.authorities;
            for(var i=0;i<authorities.length;i++){
                var map = authorities[i];
                for(var j in map){
                    $("#msg").append("<li>"+map[j]+"</li>")
                }
            }
        })
    }

    function getRequestJson(reqUrl){
        var data;
        $.ajax({
            type : "get",
            url : reqUrl,
            // data : "test=" + test,
            async : false,
            success : function(res){
                data = res;
            }
        });
        return data;
    }

    function getCheckPermission(url){
        var reqUrl = "/system/haspermission?url="+url;
        $.get(reqUrl,function(res){
            var resJson = JSON.parse(res);
            var flag = resJson.flag;
            if(true == flag){
                $("#checkpermissionresult").html("<span style='color:green;padding-left: 40px;'>["+url+"]已授权访问</span>");
                switch (url) {
                    case "/user/list":
                        var userList = getRequestJson(url);
                        var html = "<dl style='padding-left: 40px;'>";
                        for(var i=0;i<userList.length;i++){
                            var html =
                                html += ("<dt>"+userList[i].uid+","+userList[i].nickName+","+userList[i].username+"</dt>")
                        }
                        $("#checkpermissionresult").append(html+"</dl>");
                        break;
                    case "/menu/list":
                        break;
                }
            }else{
                $("#checkpermissionresult").html("<span style='color:red;padding-left: 40px;'>["+url+"]未授权访问</span>");
            }

        })
    }

</script>

</body>
</html>